/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialogContainer {
  background-color: var(--theme-bg);
  color: #fff;
  color-scheme: dark;
}

#rightBox {
  background-size: auto 64px;
  margin-inline: 30px;
  padding-top: 64px;
}

#bottomBox {
  background-color: var(--theme-bg);
  padding: 15px 10px 15px;
}
:root { --theme-bg: #282A33 }